@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap");
@import "./variables.css";
@import "./index.css";

h1 {
  color: var(--textColor);
  margin-bottom: 10px;
}

h1 a {
  text-decoration: none;
  color: var(--textColor);
}

h2 {
  text-align: center;
  margin: 10px 0;
}

.inputs__warnings {
  color: red;
  font-size: 0.8em;
  display: none;
}

.card-container {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container__div {
  border-radius: 10px;
  width: 60%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cardsColor);
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input__styles {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  outline: none;
  border: none;
  background-color: var(--bgColor);
  font-size: 0.9;
  color: var(--textColor);
  resize: none;
}

.input__styles:focus {
  outline: 2px solid #dadada;
}

form .inputs__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

form {
  color: var(--textColor);
}

form label {
  font-weight: bold;
}

form p {
  margin-top: 10px;
}

inputs__warnings {
  position: relative;
  color: #dc2626;
  line-height: 0%;
  font-size: 0.8em;
}

.submit__container {
  text-align: center;
  margin-top: 15px;
}

.submit__form {
  padding: 10px 30px;
  font-size: 0.9em;
  font-weight: bold;
  background-color: var(--submitColor);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.submit__form:hover {
  background-color: #4898a0;
  transition: 0.2s;
}

.tag-container {
  margin-top: 10px;
  width: 100%;
}

.tags__div {
  border-radius: 8px;
  border: none;
  background-color: var(--bgColor);
  display: flex;
  height: auto;
  flex-wrap: wrap;
  padding: 5px;
}

.tag__added {
  background-color: var(--cardsColor);
  border-radius: 8px;
  padding: 5px;
  display: flex;
  align-items: center;
  margin: 3px;
  height: 100%;
}

.tag__added span {
  font-size: 0.9em;
  margin-right: 4px;
}

.tag__added span:last-child {
  cursor: pointer;
}
.tag__added span:last-child:hover {
  color: var(--orangeColor);
}

.tag--input {
  position: relative;
  margin-bottom: 0;
}

.autocomplete {
  display: none;
  background-color: var(--bgColor);
  position: absolute;
  width: 15.3%;
  z-index: 10;
  padding: 10px;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.match__tags {
  border-bottom: 1px solid black;
  padding: 5px 0;
  cursor: pointer;
  color: gray;
}

.match__tags:hover {
  color: black;
}

@media only screen and (max-width: 1440px) {
  .autocomplete {
    width: 21%;
  }
}

@media only screen and (max-width: 1024px) {
  .autocomplete {
    width: 24.3%;
  }
}

@media only screen and (max-width: 768px) {
  .container__div {
    width: 80%;
  }
  .autocomplete {
    width: 33%;
  }
}

@media only screen and (max-width: 425px) {
  form .inputs__container {
    display: block;
  }

  .container__div {
    width: 90%;
  }
  .autocomplete {
    width: 71%;
  }
}
