@import "./index.css";
@import "./variables.css";

h1 a {
  text-decoration: none;
  color: var(--textColor);
}

.comments__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 10px;
}

.comments div {
  padding: 10px;
  border: 2px solid var(--bgColor);
  border-radius: 8px;
  background-color: var(--cardsColor);
  margin-top: 10px;
}

.card-image__container {
  height: 100%;
}

.post {
  max-height: 400px;
}

.comments div p {
  display: flex;
  align-items: center;
}

.comments div p span {
  margin: 5px;
}

.card__likes img {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.card__likes img:hover {
  transform: scale(1.1);
}

.comments div p span:nth-child(2) {
  font-size: 1.3em;
  font-weight: bold;
}

.comments div p:last-child {
  margin-top: 5px;
}

.form__container h3 {
  text-align: center;
}

.inputs {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  outline: none;
  border: none;
  background-color: var(--cardsColor);
  font-size: 0.9;
  color: var(--textColor);
  resize: none;
}

.inputs:focus {
  outline: 2px solid#DADADA;
}

.comment-form label {
  font-weight: bold;
}

.comment-form button {
  border: none;
  padding: 10px 20px;
  background-color: var(--greenColor);
  border-radius: 8px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}

.comment-form button:hover {
  background-color: #41939b;
  transition: 0.2s;
}

.post {
  box-shadow: none;
  display: grid;
  grid-template-columns: 1fr 2fr;
  outline: 1px solid var(--bgColor);
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--cardsColor);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.no-comments__text {
  display: none;
}

.post__container {
  padding: 16px 32px;
}

.card__content {
  padding: 20px;
}
.button--delete {
  background-color: var(--orangeColor);
}

.button--delete:hover {
  background-color: #b04a02;
}

.card__description {
  text-align: justify;
}

.header__div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: var(--cardsColor);
  padding: 25px;
  border-radius: 8px;
  border: 1px solid #888;
  width: 20%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.modal-footer {
  margin-top: 15px;
  float: right;
}

.div__buttons {
  display: none;
}

.post__author {
  margin-top: 28px;
  color: var(--textColor);
}

@media (max-width: 1024px) {
  .modal-content {
    width: 30%;
  }
}

@media (max-width: 882px) {
  .post {
    display: flex;
    max-height: 100%;
    flex-wrap: wrap;
    align-items: center;
  }

  .post__container {
    padding: 20px;
  }
  .modal-content {
    width: 40%;
  }
}

@media (max-width: 425px) {
  .comments__container {
    grid-template-columns: repeat(1, 1fr);
  }
  .modal-content {
    width: 80%;
  }
}
