@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap");
@import "./variables.css";

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--bgColor);
}

.container {
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
}

h1 {
  color: var(--textColor);
}

.flex-class {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container div:first-child {
  margin-bottom: 10px;
}

.all-posts__form {
  margin-bottom: 10px;
}

.button {
  border: none;
  background-color: var(--greenColor);
  color: var(--cardsColor);
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
}

.button:hover {
  background-color: #41939b;
  transition: 0.2s;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.recent__posts {
  margin-top: 10px;
  margin-bottom: 20px;
  display: none;
}

.all-posts {
  margin-top: 20px;
}

.card__container {
  padding: 10px;
}

.card,
.card-image__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.card-image__container {
  flex: 3 1 30ch;
  height: calc(282px + 5vw);
  overflow: hidden;
}

.card__image {
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
  overflow: hidden;
  object-position: 50% 50%;
  width: auto;
  height: auto;
}

.card {
  outline: 1px solid var(--bgColor);
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--cardsColor);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card__content {
  width: 100%;
  padding: 10px 15px;
}

.card-title {
  margin-bottom: 8px;
  color: var(--textColor);
}

.card__title-link {
  text-decoration: none;
  color: inherit;
}

.card-tags {
  margin: 0 -8px;
}

.tag {
  color: var(--orangeColor);
  display: inline-block;
  margin: 8px;
  font-size: 0.875em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.02em;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 6%;
}

.card__likes {
  margin: 0px;
  display: flex;
  align-items: center;
}

.card__likes span {
  margin: 0 5px;
}

.card__button {
  border: none;
  padding: 8px 20px;
  font-size: 0.9em;
  text-decoration: none;
  background-color: var(--greenColor);
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.card__button:hover {
  background-color: #41939b;
  transition: 0.2s;
}

.input__search {
  width: 300px;
  padding: 10px 10px;
  text-align: left;
  border-radius: 8px;
  font-size: 1em;
  color: var(--textColor);
  border: none;
  outline: none;
  background-color: var(--cardsColor);
}

.filter-tag {
  padding: 10px 10px;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: var(--cardsColor);
}

.input__search:focus,
.filter-tag {
  outline: 2px solid#DADADA;
}

.animation--loading {
  display: none;
  margin-left: auto;
  margin-right: auto;
  border: 16px solid var(--bgColor);
  border-radius: 50%;
  border-top: 16px solid var(--orangeColor);
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.button--search {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background-color: var(--textColor);
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (max-width: 882px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 425px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .input__search {
    width: 220px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .filter-tag {
    width: 100%;
  }
}
